.ParentContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 10px;
    height: 100vh;
    background-color: black;
    
}

body {
    margin: 5;
    background-color: black;
}

#div1{
    background-color: rgb(255, 0, 0);
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
    display: flex;
}

#div2{
    background-color: rgb(255, 0, 0);
    grid-column: 1/5;
    grid-row: 3/10;
}

#chama {
    width: 100%;
    height: 100%;
}

#div3{
    background-color: rgb(255, 0, 0);
    grid-column: 5/9;
    grid-row: 3/6;
}
#champ{
    width: 100%;
    height: 100%;
}
#div4{
    background-color: rgb(255, 0, 0);
    grid-column: 5/9;
    grid-row: 6/10;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
#hoyo{
    width: 100%;
    height: 100%;
}
#div5{
    background-color: rgb(255, 0, 0);
    grid-column: 1/5;
    grid-row: 10/14;
    justify-content: center;
    align-items: center;
    display: flex;
}
#mandel{
    width: 100%;
    height: 100%;
}


#div8{
    background-color: rgb(255, 0, 0);
    grid-column: 1/5;
    grid-row: 12/14;
    justify-content: center;
    align-items: center;
    display: flex;
}
#div6{
    background-color: rgb(255, 0, 0);
    grid-column: 5/9;
    grid-row: 10/20;
}
#div7{
    background-color: rgb(255, 0, 0);
    grid-column: 1/5;
    grid-row: 14/20;
}


#div8{
    background-color: rgb(255, 0, 0);
    grid-column: 1/9;
    grid-row: 20/21;
}