body {
    background: linear-gradient(90deg, #004aad, #cb6ce6);
    color: white;
}


h1 {
    color: white;
}


.ParentContainer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    height: 200vh;
  }

#TitleCard {
    background-color: black;
    grid-column: 1 / 12;
    grid-row: 1 / 3;
}

#Banner {
    width: 100%;
    height: 100%;
}

#div2 {
    background-color: black;
    grid-column: 1 / 7;
    grid-row: 3 / 5;
}

#div3 {
    background-color: black;
    grid-column: 7 / 12;
    grid-row: 3 / 5;
}

#allen {
    background-color: black;
    grid-column: 1 / 4;
    grid-row: 5 / 6

}

#Soundbarrier {
    grid-column: 4 / 7;
    grid-row: 5 / 6;
}

#BreakingSound {
    width: 100%;
    height: 100%;
}

#div6 {
    background-color: black;
    grid-column: 7 / 12;
    grid-row: 5 / 6;
}

#conquest {
    background-color: black;
    grid-column: 1 / 7;
    grid-row: 6 / 9;

}

#div8 {
    background-color: black;
    grid-column: 7 / 12;
    grid-row: 6 / 8;
}

#griddy {
    background-color: black;
    grid-column: 7 / 12;
    grid-row: 8 / 9;
}

